extends  ../partials/navbar
block inner
  input.display-none#writers-json(value=JSON.stringify(writers))
  .general-title-wrapper
    h1.general-title= __('Our Writers')
    p.general-text= __('node101 brings together experienced names in the blockchain world and young enthusiats with the vision of helping the growth of the blockchain community accross the globe.')
    p.general-text
      span #{__('Feel free to reach us from')}
      a.general-text-link(href='mailto:support@node101.io') support@node101.io
      span #{__('if you have any questions / feedback on our content.')}
  .general-items-wrapper.writers-wrapper
    each writer, i in writers
      if i > 0
        .general-each-item-seperator
      a.general-each-item-wrapper(href=writer.link)
        .general-each-item-content-wrapper
          h1.general-each-item-title= writer.name
          h2.general-each-item-subtitle= writer.title
          .general-each-item-footer-wrapper
            each account in Object.keys(writer.social_media_accounts)
              .general-each-item-social-media-account-wrapper(id=writer.social_media_accounts[account])
                svg.general-each-item-social-media-account-icon(viewBox=SOCIAL_MEDIA_ICONS[account].view_box xmlns='http://www.w3.org/2000/svg')
                  path(d=SOCIAL_MEDIA_ICONS[account].d)
        img.general-each-item-image(src=writer.image alt=writer.name)
  .general-items-loading-icon-wrapper#writers-loading-icon
    svg.general-items-loading-icon(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
      path(d='M304 48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm0 416a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM48 304a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm464-48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM142.9 437A48 48 0 1 0 75 369.1 48 48 0 1 0 142.9 437zm0-294.2A48 48 0 1 0 75 75a48 48 0 1 0 67.9 67.9zM369.1 437A48 48 0 1 0 437 369.1 48 48 0 1 0 369.1 437z')