extends ./header
block main
  input.display-none#navbar-loaded(value=JSON.stringify(navbar_loaded ? true : false))
  .general-inner-content-outer-wrapper
    .general-inner-content-wrapper
      block inner
    .general-navbar-wrapper
      .general-navbar-inner-empty-wrapper(style=`display: ${navbar_loaded ? 'none' : 'flex'}`)
        .general-navbar-empty-wrapper
          .general-navbar-each-empty-line
          .general-navbar-each-empty-line
          .general-navbar-each-empty-line
          .general-navbar-each-empty-line
          .general-navbar-each-empty-line
        .general-navbar-empty-wrapper
          .general-navbar-each-empty-line
          .general-navbar-each-empty-line
        .general-navbar-empty-wrapper
          .general-navbar-each-empty-line
          .general-navbar-each-empty-line
          .general-navbar-each-empty-line
          .general-navbar-each-empty-line
        .general-navbar-empty-wrapper
          .general-navbar-each-empty-line
          .general-navbar-each-empty-line
      .general-navbar-inner-wrapper(style=`display: ${navbar_loaded ? 'flex' : 'none'}`)
        article.general-navbar-editors-pick-wrapper
          .general-navbar-title-wrapper(style='margin-top: 0;')
            h1.general-navbar-title= __('Editor\'s Pick')
            a.general-navbar-see-more-button(href=`/editors-pick${query_lang ? '?lang=' + query_lang : ''}`)= __('See more')
          if editors_pick && editors_pick.length
            each writing in editors_pick
              a.general-navbar-each-short-writing-wrapper(href=writing.link)
                img.general-navbar-each-short-writing-image(src=writing.logo alt=writing.title)
                h2.general-navbar-each-short-writing-title= writing.title
        article.general-navbar-tags-wrapper
          h1.general-navbar-title= __('Popular Tags')
          .general-navbar-tags-inner-wrapper
            if tags && tags.length
              each tag in tags
                a.general-navbar-each-tag(href=tag)= tag.name
        article.general-navbar-exclusive-wrapper
          .general-navbar-title-wrapper
            h1.general-navbar-title= __('Exclusive Content')
            a.general-navbar-see-more-button(href=`/exclusive${query_lang ? '?lang=' + query_lang : ''}`)= __('See more')
          if exclusive && exclusive.length
            each writing in exclusive
              a.general-navbar-each-writing-wrapper(href=writing.link)
                img.general-navbar-each-writing-image(src=writing.logo alt=writing.title)
                .general-navbar-each-writing-content-wrapper
                  h2.general-navbar-each-writing-title= writing.title
                  h2.general-navbar-each-writing-subtitle= writing.subtitle
        article.general-navbar-node101-wrapper
        .general-navbar-title-wrapper
          h1.general-navbar-title= __('Follow Us')
        .general-navbar-social-media-wrapper
          each account in Object.keys(NODE101_SOCIAL_MEDIA_ACCOUNTS)
            a.general-navbar-each-social-media-account-wrapper(href=NODE101_SOCIAL_MEDIA_ACCOUNTS[account] target='_blank')
              svg.general-navbar-each-social-media-account-icon(xmlns='http://www.w3.org/2000/svg' viewBox=SOCIAL_MEDIA_ICONS[account].view_box)
                path(d=SOCIAL_MEDIA_ICONS[account].d)
    .general-navbar-scrolled-wrapper(style='display: none')
      .general-navbar-inner-empty-wrapper(style=`display: ${navbar_loaded ? 'none' : 'flex'}`)
        .general-navbar-empty-wrapper
          .general-navbar-each-empty-line
          .general-navbar-each-empty-line
          .general-navbar-each-empty-line
          .general-navbar-each-empty-line
          .general-navbar-each-empty-line
        .general-navbar-empty-wrapper
          .general-navbar-each-empty-line
          .general-navbar-each-empty-line
        .general-navbar-empty-wrapper
          .general-navbar-each-empty-line
          .general-navbar-each-empty-line
          .general-navbar-each-empty-line
          .general-navbar-each-empty-line
        .general-navbar-empty-wrapper
          .general-navbar-each-empty-line
          .general-navbar-each-empty-line
      .general-navbar-inner-wrapper(style=`display: ${navbar_loaded ? 'flex' : 'none'}`)
        article.general-navbar-editors-pick-wrapper
          .general-navbar-title-wrapper(style='margin-top: 0;')
            h1.general-navbar-title= __('Editor\'s Pick')
            a.general-navbar-see-more-button(href=`/editors-pick${query_lang ? '?lang=' + query_lang : ''}`)= __('See more')
          if editors_pick && editors_pick.length
            each writing in editors_pick
              a.general-navbar-each-short-writing-wrapper(href=writing.link)
                img.general-navbar-each-short-writing-image(src=writing.logo alt=writing.title)
                h2.general-navbar-each-short-writing-title= writing.title
        article.general-navbar-tags-wrapper
          h1.general-navbar-title= __('Popular Tags')
          .general-navbar-tags-inner-wrapper
            if tags && tags.length
              each tag in tags
                a.general-navbar-each-tag(href=tag)= tag.name
        article.general-navbar-exclusive-wrapper
          .general-navbar-title-wrapper
            h1.general-navbar-title= __('Exclusive Content')
            a.general-navbar-see-more-button(href=`/exclusive${query_lang ? '?lang=' + query_lang : ''}`)= __('See more')
          if exclusive && exclusive.length
            each writing in exclusive
              a.general-navbar-each-writing-wrapper(href=writing.link)
                img.general-navbar-each-writing-image(src=writing.logo alt=writing.title)
                .general-navbar-each-writing-content-wrapper
                  h2.general-navbar-each-writing-title= writing.title
                  h2.general-navbar-each-writing-subtitle= writing.subtitle
        article.general-navbar-node101-wrapper
        .general-navbar-title-wrapper
          h1.general-navbar-title= __('Follow Us')
        .general-navbar-social-media-wrapper
          each account in Object.keys(NODE101_SOCIAL_MEDIA_ACCOUNTS)
            a.general-navbar-each-social-media-account-wrapper(href=NODE101_SOCIAL_MEDIA_ACCOUNTS[account] target='_blank')
              svg.general-navbar-each-social-media-account-icon(xmlns='http://www.w3.org/2000/svg' viewBox=SOCIAL_MEDIA_ICONS[account].view_box)
                path(d=SOCIAL_MEDIA_ICONS[account].d)
    