extends ../partials/navbar
block inner
  .slider-wrapper
    each slide, i in slider
      article.each-slide-wrapper
        a.each-slide-content-wrapper(href=slide.link)
          .each-slide-content-inner-wrapper
            .each-slide-content-header-wrapper
              .each-slide-blog-wrapper
                img.each-slide-blog-image(src=slide.blog.image alt=slide.blog.title)
                h2.each-slide-blog-title= slide.blog.title
              .each-slide-date • #{slide.created_at.split('.')[0]} #{MONTHS[parseInt(slide.created_at.split('.')[1]) - 1]} #{slide.created_at.split('.')[2]}
            h1.each-slide-title= slide.title
            h2.each-slide-subtitle= slide.subtitle
          img.each-slide-image(src='https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Color_icon_red.svg/640px-Color_icon_red.svg.png' alt=slide.title height='100%' loading='lazy')
        .each-slide-footer-wrapper
          .each-slide-bullets-wrapper
            - for (let j = 0; j < slider.length; j++)
              if j == i
                .each-slide-bullet-filled
              else
                .each-slide-bullet
          .each-slide-buttons-wrapper
            .each-slide-button.move-previous-slide-button
              svg.each-slide-button-icon(viewBox='0 0 6 10' xmlns='http://www.w3.org/2000/svg')
                path(d='M0.000195285 5L5.0002 -3.0598e-08L5.7002 0.7L1.40019 5L5.70019 9.3L5.0002 10L0.000195285 5Z')
            .each-slide-button.move-next-slide-button
              svg.each-slide-button-icon(viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M6 5L1 10L0.3 9.3L4.6 5L0.3 0.7L1 -2.18557e-07L6 5Z')
  .general-writings-wrapper
    each writing, i in writings
      .general-each-writing-seperator
      a.general-each-writing-wrapper(href=writing.link)
        .general-each-writing-content-wrapper
          .general-each-writing-content-header-wrapper
            .general-each-writing-blog-wrapper
              img.general-each-writing-blog-image(src=writing.blog.image alt=writing.blog.title)
              h2.general-each-writing-blog-title= writing.blog.title
            .general-each-writing-date • #{writing.created_at.split('.')[0]} #{MONTHS[parseInt(writing.created_at.split('.')[1]) - 1]} #{writing.created_at.split('.')[2]}
          h1.general-each-writing-title= writing.title
          h2.general-each-writing-subtitle= writing.subtitle
        img.general-each-writing-image(src=writing.logo alt=writing.title height='100%' loading='lazy')