extends  ../partials/navbar
block inner
  input.display-none#projects-json(value=JSON.stringify(projects))
  .general-title-wrapper
    h1.general-title= __('Projects')
    p.general-text= __('node101 brings together experienced names in the blockchain world and young enthusiasts with the vision of helping the growth of the blockchain community across the globe.')
    p.general-text
      span #{__('Feel free to reach us from')}
      a.general-text-link(href='mailto:support@node101.io') support@node101.io
      span #{__('if you have any questions / feedback on our content.')}
  .projects-wrapper
    each project in projects
      a.each-project-wrapper(href=project.link)
        .each-project-content-wrapper
          h1.each-project-title= project.title
          h2.each-project-subtitle= project.subtitle
          .each-project-social-media-accounts-wrapper
            each account in Object.keys(project.social_media_accounts)
              .each-project-social-media-account-wrapper(id=project.social_media_accounts[account])
                svg.each-project-social-media-account-icon(viewBox=SOCIAL_MEDIA_ICONS[account].view_box xmlns='http://www.w3.org/2000/svg')
                  path(d=SOCIAL_MEDIA_ICONS[account].d)
        img.each-project-image(src=project.image alt=project.title)
  .general-items-loading-icon-wrapper#projects-loading-icon
    svg.general-items-loading-icon(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
      path(d='M304 48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm0 416a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM48 304a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm464-48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM142.9 437A48 48 0 1 0 75 369.1 48 48 0 1 0 142.9 437zm0-294.2A48 48 0 1 0 75 75a48 48 0 1 0 67.9 67.9zM369.1 437A48 48 0 1 0 437 369.1 48 48 0 1 0 369.1 437z')